.main-content {
  margin-left: 250px;
  transition-duration: 0.2s;
}

@media (max-width: 768px) {
  .main-content {
    overflow: hidden;
    margin-left: 0;
  }
}

.shifted {
  margin-left: 250px;
  margin-right: -250px;
}
